<section id="home">
  <div id="home-banner" style="background-image: url(<%= asset_path 'bg-home.png' %>)">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8 col-md-6">
          <div class="card text-center p-2 border">
            <div class="card-body">
              <%= image_tag "chef.gif", class: "card-image" %>
              <h3 class="card-title text-danger">Welcome to Benvenuti Al Sud</h3>
              <p class="card-text">
                Established in 1982 by Francesco Pozzuoli, who is originally from Naples, Italy, the birthplace of pizza, Benvenuti Al Sud has been a local favorite for more than 35 years.
                We only use the highest quality, fresh, whole, natural ingredients in all of our products, and can satisfy any kind of palate.
              </p>
              <p class="card-text"></p>
              <%= link_to "See our menu", products_path, class: "btn btn-success text-white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>