.navbar {
  justify-content: space-between;
  background: white;

  #navbar-logo {
    width: 36px;
  }

  .navbar-brand:hover {
    transition: all 200ms;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .avatar {
    cursor: pointer;
  }
}
